body {margin: 0; padding: 0; font-family: verdana, sans-serif; font-size: 75%;}


/*---------- ED home (BMG) ---------------*/
div#ed-main {margin-left: 10px; margin-bottom: 20; margin-right: 10px; margin-top: 20; border-style: inset; padding: 20px; text-align:justify; background:#d7d7d7;}
div.ed-main-blue {margin-left: 5px; margin-bottom: 10; margin-right: 5px; margin-top: 10; border-style: inset; padding: 10px; text-align:justify; background:#004080;}
div.edbox {font-size: 14px; margin-left: 10px; margin-bottom: 20; margin-right: 10px; margin-top: 20; border-style: dotted; padding: 20px; text-align:justify; background:#fff;}

div.edlightbox {font-size: 14px; margin-left: 5px; margin-bottom: 10; margin-right: 5px; margin-top: 10; border-style: none; padding: 10px; text-align:justify; background:#e6e6e6;}
div.edlightbox input.loginBox {background:url(../images/openid_icon.gif) no-repeat; text-indent: 20px;}


#ed-main  a:link, a:visited {font-weight: bold; text-decoration:none; color:blue;}
#ed-main a:hover {font-weight: bold; text-decoration:none; color:red;}

div#edbox {font-size: 14px; margin-left: 10px; margin-bottom: 20; margin-right: 10px; margin-top: 20; border-style: dotted; padding: 20px; text-align:justify; background:#fff;}

div#ed-contact {margin-left: 10px; margin-bottom: 10; margin-right: 10px; margin-top: 20; border-style: inset; padding: 10px; text-align:right; background:#d7d7d7;}


/*----------- ED Top Menu ----------------*/

#ed-nav-wrap {clear:both; font-size: 14px; margin-left: 10px; margin-bottom: 20; margin-right: 10px; margin-top: 5; border-style: none; padding: 0px; text-align:justify; background:#004080;}
#ed-nav {max-width:930px; width:100%; text-align:left; margin:0 auto; padding:0;}

#ed-top-banner {clear:both; font-size: 8px; margin-left: 0px; margin-bottom: 0; margin-right: 0px; margin-top: 0; border-style: none; padding: 0px; text-align:justify; background:#004080;}
#ed-banner {max-width:930px; width:100%; text-align: left; margin:0 auto; padding: 5px 0 10px 0; position:relative;}

ul#ed-main-menu {font-size:130%; list-style-image:none; margin:0; min-height:2em; padding:0; width:84%}
ul#ed-main-menu li {display:inline; font-family: "Trebuchet MS", sans-serif; font-weight:bold; margin:0; padding:0;}
ul#ed-main-menu li a {display:block; float:left; line-height:2em; padding:0 10px;}
ul#ed-main-menu li a:link, ul#ed-main-menu li a:visited {text-decoration:none; color:#fff;}
ul#ed-main-menu li a:hover {background: #0080ff; border-right:1px solid #fff; border-left:1px solid #fff; padding:0 9px;}

/*---------- ED footer ------------------*/
#ed-footer-wrap {clear:both; text-align:center; padding: 0 1%; background:#004080; color:#fff;}
#ed-footer {position:relative; max-width:930px; width:100%; text-align:right; margin-left:auto; margin-right:auto; padding:5px 0;}
#ed-footer p {color: white; font-family: "Trebuchet MS", sans-serif; font-size: 120%; margin: 0;}
#ed-footer a:link, a:visited {font-weight: bold; text-decoration:none; color:#fff;} 
#ed-footer a:visited {font-weight: bold; text-decoration:none; color:#fff;}
#ed-footer a:hover {background: #0080ff; font-weight: bold; text-decoration:none; color:#fff;}


/*----CONNOTEA SPECIFIC ---------*/

/* ----------------
CONNOTEA HEADER
------------------- */

#banner-wrap {clear:both; text-align:center; padding:0 1%; background: url(../ed/images/header_bg.gif) repeat-x 0 0;}
#banner {max-width:930px; width:100%; text-align: left; margin:0 auto; padding: 25px 0 10px 0; position:relative;}
/*
#searchbar {position:absolute; top:0; right:0; text-align:right; margin:0; padding: 8px; background:#41637b;}
#searchbar p {display: inline;}
#searchbar p.searchlink {margin:0 10px 0 0; padding:0 0 0 22px; color: white; background: url(http://www.connotea.org/searchicon.gif) no-repeat #41637b; font-weight: bold;}
#searchbar form {display:inline;}

/* ----------- */
/* basic stuff */
/* ----------- */

span.cleardiv {display:block !important; clear:both !important; padding:0 !important; margin:0 !important;}
.hidden {display: none;}
code {font-size: 130%;}
p { margin: 0 0 5px;}
p.signup {margin: 15px 0;}
p.backtotoplink {float: right;}
p.backtotoplink a {background: url(http://www.connotea.org/uparrow.gif) center left no-repeat;padding-left: 15px;}
p.backtotoplink a:link, p.backtotoplink a:visited {color: #c51f33;}
p.backtotoplink a:hover {color: red;}


#list li            { margin-left: 0px; padding-left: 0px; padding-top: 6px }
form                { margin-bottom: 0px }
.textctl      	    { border: 1px solid #233155; background: #fff; }
.textctlminor 	    { border: 1px solid #233155; background: #fff; }
.textareactl  	    { border: 1px solid #233155; background: #fff; }
.buttonctl          { border: 1px outset; background: #c03; color: #fff; font-weight:bold; margin-left:5px; }
.checkboxctl        { position: relative; top: 2px }
.ctlhelp            { width: 496px; border: 1px dotted silver; margin-top: 2px; padding: 2px }
#add                { border-top: 4px solid #97A9B7; padding: 3px }
.tagexample         { font-style: italic }

div.actualurl { font-style: italic; }


/*----------- Logo banner ----------------*/

#banner .title {height:80px; background: url(../ed/images/EDlogoBanner.jpg) left center no-repeat;}
#banner .title a {width:404px; height:70px; position:absolute;}
#banner .title span {display: none;}

#banner .popuptitle {min-height: 80px; background: url(../ed/images/EDlogoBanner.jpg) left center no-repeat;}
#banner .popuptitle a {width: 180px; height: 80px; position: absolute;}
#banner .popuptitle span {display: none;}

/* add form */

#tagsuggestdatacell      { vertical-align: top }
.auto-complete           { border: 1px dotted silver; padding: 0 5px 5px 5px; }
#tbox-closed             { width: 373px; }
#tbox-suggest            { width: 373px; }
.add-form-tag-suggestion { display: inline-block;
                           background-color: #D9E0E8; margin: 6px 3px 0 3px; padding: 0 6px 0 6px; text-decoration: none }

#slink-alpha 	       	 { text-align: right }
#slink-usage 	       	 { text-align: right }
.add-form-ac-results   	 { width: 350px }
.addformlabelcell      	 { vertical-align: top; white-space: nowrap; padding-top: 3px; width: 135px }
#descriptiondatacell   	 { vertical-align: top }
.optional    	       	 { float: left; color: #999999 }
.formhelp    	       	 { padding-left: 4px; color: grey; }
#taghelpbox  	       	 { width: 380px }
#descriptionbox        	 { width: 380px }
#tagsbox               	 { width: 250px }
#commentbox            	 { width: 380px }

/* ---------------

/* -------------- */
/* ordinary links */
/* -------------- */
a {color: #c51f33; text-decoration:underline;}
a:visited {	color: #004080; text-decoration:underline;}
a:hover {color: red; text-decoration:underline;}

/*----------- Sign Up ----------------*/
#home #head-signup {background: #fff no-repeat right bottom; padding:30px 25px 15px; margin:0 1%;}
#home #head-signup h1 {font-family: "Trebuchet MS", sans-serif; margin: 0 0 5px; padding: 0; font-size: 220%; width:50%; color: #004080; line-height:1.1em;}
#home #head-signup p.subhead {font-family: "Trebuchet MS", sans-serif; font-size: 150%; margin: 5px 0 10px; width:55%; color: #004080;}

#home #head-signup h3 {margin:0; padding:0;}
#home #head-signup h3.signup-link a {text-indent:-2000px; background:url(../ed/images/signup_but.gif) no-repeat 0 0; display:block; width:138px; height:32px;}
#home #head-signup h3.signup-link a:hover { background-position:0 -32px;}

/*----------- Sign In ----------------*/
#home-signin-wrap {margin:0 1%; display:inline; background:#004080 no-repeat top right; float:left; width:98%;}

#home-signin-wrap .head-signin {float:left; width:50%;}
#home-signin-wrap .head-signin h2 {color:#fff; margin:5px 25px 0; padding:0; font-size:160%; font-weight:normal;}

#home-signin-wrap form.signin {margin: 0 0 10px 25px; padding: 0; width:100%;}
#home-signin-wrap form.signin .formElement {margin: 0; float:left; width:33%;}
#home-signin-wrap form.signin .formElement label {color:#fff;}
#home-signin-wrap form.signin .formElement input {font-size:80%; width:90%;}

#home-signin-wrap form.signin input.loginBut {width:60%; font-size:110%; margin-top:-0.2em}
#home-signin-wrap form.signin a.forgotlogin {color:#CFD6DC; font-size:80%; text-decoration:none}
#home-signin-wrap form.signin a.forgotlogin:hover {color:#fff;  text-decoration:underline}


#home-signin-wrap form.signin .login-openid {color:#CFD6DC; font-size:100%; text-decoration:none}
#home-signin-wrap form.signin .login-openid:hover {color:red; font-size:100%; text-decoration:none}

#home-signin-wrap ul {list-style-type:none; margin:0; font-size:80%; font-family: verdana, sans-serif;}
#home-signin-wrap ul li { list-style-type:none; margin:0; padding:8px 0 0 0;}
#home-signin-wrap ul a{color:#C4CDD6; padding:6px 0pt 6px 25px; text-decoration:none; text-decoration:underline;}
#home-signin-wrap ul a:hover {color:#fff;}

#home-signin-wrap ul a.mylibrary{background: url(../ed/images/library_icon_hm.gif) no-repeat left center;}
#home-signin-wrap ul a.logout{background: url(../ed/images/login_icon_hm.gif) no-repeat left center;}

/*----------- OpenID Sign In ----------------*/
#home #openIDhead-signup {background: #fff no-repeat right bottom; padding:30px 25px 15px; margin:0 1%;}
#home #openIDhead-signup h1 {font-family: "Trebuchet MS", sans-serif; margin: 0 0 5px; padding: 0; font-size: 220%; width:70%; color: #004080; line-height:1.1em;}
#home #openIDhead-signup p.openIDsubhead {font-family: "Trebuchet MS", sans-serif; font-size: 150%; margin: 5px 0 10px; width:85%; color: #004080;}

#home #openIDhead-signup h3 {margin:0; padding:0;}
#home #openIDhead-signup h3.openIDsignup-link a {text-indent:-2000px; background:url(http://localhost:8080/EntityDescriber/ed/images/openid_logo.png) no-repeat 0 0; display:block; width:300px; height:100px;}

#home-openIDsignin-wrap {margin:0 1%; display:inline; background:#004080 no-repeat top right; float:left; width:98%;}

#home-openIDsignin-wrap .head-openIDsignin {float:left; width:50%;}
#home-openIDsignin-wrap .head-openIDsignin h2 {color:#fff; margin:5px 25px 0; padding:0; font-size:160%; font-weight:normal;}

#home-openIDsignin-wrap form.openIDsignin {margin: 0 0 10px 25px; padding: 0; width:100%;}
#home-openIDsignin-wrap form.openIDsignin .formElement {margin: 0; float:left; width:33%;}
#home-openIDsignin-wrap form.openIDsignin .formElement input {font-size:100%; width:180%;}

#home-openIDsignin-wrap form.openIDsignin .formElementText {margin: 0; float:left; width:130px;}
#home-openIDsignin-wrap form.openIDsignin .formElementText label {color:#fff;}
#home-openIDsignin-wrap form.openIDsignin .formElementText input {background:url(../ed/images/openid_icon.gif) no-repeat #ffffff 0; text-indent: 20px; font-size:100%; width:300px;}

#home-openIDsignin-wrap form.openIDsignin input.loginBut {width:70px; font-size:100%; margin-top:-0.0em; margin-left: +15.0em}
#home-openIDsignin-wrap form.openIDsignin a.forgotlogin {color:#CFD6DC; font-size:80%; text-decoration:none}
#home-openIDsignin-wrap form.openIDsignin a.forgotlogin:hover {color:#fff;  text-decoration:underline}


#home-openIDsignin-wrap ul {list-style-type:none; margin:0; font-size:80%; font-family: verdana, sans-serif;}
#home-openIDsignin-wrap ul li { list-style-type:none; margin:0; padding:8px 0 0 0;}
#home-openIDsignin-wrap ul a{color:#C4CDD6; padding:6px 0pt 6px 25px; text-decoration:none; text-decoration:underline;}
#home-openIDsignin-wrap ul a:hover {color:#fff;}

#home-openIDsignin-wrap ul a.mylibrary{background: url(../ed/images/library_icon_hm.gif) no-repeat left center;}
#home-openIDsignin-wrap ul a.logout{background: url(../ed/images/login_icon_hm.gif) no-repeat left center;}

table.identifiedTable {font-size: 100%}
table.taggingTable {font-size: 100%}
table.tag_display_table{font-size: 100%; text-align:center; background:#CCCCCC; width:380px}
input.EDAutoCompleteInput{;width:380}


/*-------------SPARQL-------------------*/
div.querybox {
	text-align:center;	
}

div.results {
	background:#FFFFFF;
	color:#000000;
}
h2.retrieval_msg{
	font-weight:bold;
}
table.sparql {
	padding: 5px; background:#FFFFFF; border:2px solid; border-color:#463C3C; font-size:12; width:100%;
}

table.input_area_table {
	padding: 5px; font-size:12; width:100%;
}

table.sparql th {border-color:#463C3C;  border-width:2px;}
table.sparql td {border-color:#463C3C;  border-width:2px;}
tr.odd {background:#cccccc}
tr.even {background:#E6E6E6}
